<!DOCTYPE html>
<html lang="en">

<head>
<title>Data Table</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Rooks">
<meta name="description" content="Error page">

<link rel="icon" href="assets/icons/rooksIconGG.png">
<link rel="stylesheet" href="styles.css">
<script src="plugins/jquery-3.4.1.min.js"></script>

<style>

	main {
		width: auto;
		align-items: center;
		gap: 64px;
		background-color: transparent;
	}

	table {
		table-layout: fixed;
    	border-collapse: collapse;
    	border-spacing: 0;
    	border-radius: 4px;
    	overflow: hidden;
	}

	th, td {
		text-align: center;
	}

	th {
		height: 2rem;
		font-family: Roboto Bold;
		color: #787878;
		padding: 16px 8px;
		vertical-align: bottom;
		background-color: var(--purple200);
	}

	td {
		height: 48px;
		padding: 8px 16px;
		vertical-align: middle;
		border-top: 1px solid var(--purple100);
		background-color: var(--purple300);
	}

	td img {
		width: 32px;
		height: 32px;
		border-radius: 4px;
	}

	td .h-container {
		width: 100%;
		height: 100%;
		gap: 8px;
	}

	ul {
		gap: 4px;
	}

	li.strong {
		font-size: 12px;
	}

	.winrate-bar {
		font-size: 11px;
	}

	span.subscript {
		font-size: 0.75rem;
		font-style: italic;
		opacity: 75%;
/*		vertical-align: sub;*/
	}

</style>

</head>

<body>

<%- include("partials/navigation-bar") %>


<main>
	

    <table id="summary">

        <colgroup>
            <col width="176px">
            <col width="96px">
            <col width="96px">
            <col width="96px">
            <col width="176px">
            <col width="64px">
            <col width="96px">            
        </colgroup>

        <thead>
        	<tr>
        		<th>Rune</th>
        		<th>Avg Dmg/Min</th>
        		<th>Avg Damage</th>
        		<th>Avg % of Dmg</th>
        		<th>Win Rate</th>
        		<th>Matches</th>
        		<th>Avg Length</th>
        	</tr>
        </thead>

        <tbody>
        <% summary.forEach(function(element, index) { %>
            <tr>
                <td>
                	<div class="rune h-container">
                		<img src="assets/dragontail/runes/Styles/<%= element.rune.replaceAll(' ', '').replaceAll(':', '') %>.png">
                		<%= element.rune %>
                	</div>
                </td>
                <td><%= element.avgDmgMin %><span class="subscript">/min</span></td>
                <td><%= element.avgDmg %></td>
                <td><%= element.avgPercentTotal %>%</td>
                <td>
				    <div class="winrate-bar">
				        <% if (element.wins !== 0) { %>
				        <div style="width:<%= element.winrate %>%;"><%= element.wins %>W</div>
				        <% }; if (element.losses !== 0) { %>
				        <span><%= element.losses %>L</span>
				        <% } %>
				    </div>
                </td>
                <td>
				    <ul class="right">
				        <li class="strong"><%= element.winrate %>%</li>
				        <li><%= element.matches %> Played</li>
				    </ul>
				</td>
                <td><%= element.avgLength %></td>
            </tr>

		<% })%>
        </tbody>

    </table>




    <table id="matches">

        <colgroup>
            <col width="144px">
            <col width="176px">
            <col width="112px">
            <col width="112px">
            <col width="112px">
            <col width="112px">
        </colgroup>

        <thead>
        	<tr>
        		<th>Champion</th>
        		<th>Rune</th>
        		<th>Damage</th>
        		<th>Dmg/Min</th>
        		<th>% Total Dmg</th>
        		<th>Game Length</th>
        	</tr>
        </thead>

        <tbody>
        <% matches.forEach(function(match, index) { %>
            <tr>
                <td>
                	<div class="champion h-container">
                		<img src="assets/dragontail/champion/square106/<%= match.championName %>.png">
                		<%= match.championName %>
                	</div>
                </td>
                <td>
                	<div class="rune h-container">
                		<img src="assets/dragontail/runes/Styles/<%= match.rune.replaceAll(' ', '').replaceAll(':', '') %>.png">
                		<%= match.rune %>
                	</div>
                </td>
                <td><%= match.damage %></td>
                <td><%= match.dmgMin %><span class="subscript">/min</span></td>
                <td><%= match.percentTotalDmg %>%</td>
                <td><%= match.length %></td>
            </tr>
        <% })%>
        </tbody>

    </table>


</main>

</body>

</html>