<!DOCTYPE html>
<html lang="en">

<head>
<title>Live Game</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Rooks">
<meta name="description" content="Live Game">

<link rel="icon" href="/assets/icons/rooksIconGG.png">
<link rel="stylesheet" href="/styles.css">
<script src="/plugins/jquery-3.4.1.min.js"></script>

<style>

body {
	height: calc(100vh - 56px);
	gap: 16px;
}

main {
	width: auto;
	gap: 24px;
}


.bans {
	height: 36px;
	gap: 8px;
}

.bans .frame {
	position: relative;
	height: 100%;
	aspect-ratio: 1 / 1;
	border-radius: 4px;
}

.bans img {
	height: 100%;
	border-radius: inherit;
	filter: contrast(110%) grayscale(100%);
}

.bans svg {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 12px;
	transform: translate(-50%, 50%);
}

.team100 .frame { background-color: var(--img-bg-blue); }
.team200 .frame { background-color: var(--img-bg-red); }

.bans.team100 .frame { border: 1px solid var(--win-blue100); }
.bans.team200 .frame { border: 1px solid var(--loss-red100); }



td {
	padding: 16px;
	background-color: transparent;
}

span.iconmask {
	display: inline-block;
	height: 1em;
	width: 1em;
	vertical-align: top;
  	background-color: #b8b8b8;
  	/*margin: 0 0.1em;*/
}

span.icon {
	display: inline-block;
	height: 1em;
	width: 1.5em;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 120%;
	margin: 0 0.1em;
}

a.icon {
	display: inline-block;
	height: 1em;
	aspect-ratio: 1 / 1;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 2px;
}
a.icon:hover { outline: 1px solid white; }
li.h-container { gap: 12px; }

.league-rank {
	gap: 12px;
}


/*★ RUNES CONTAINER ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── ★*/

.icon-container {
    height: 100%;
    padding: 14px 0px;
    justify-content: space-between;
}

.runes, .rune-styles { gap: 2px; }

img.keystone  { width: 38px; height: 38px; }

.grid-container {
    grid-template-columns: repeat(3, 21px);
    grid-template-rows: repeat(2, 21px);
    align-items: center;
    justify-content: center;
}

/* Vertical Stat Mods */
/*.rune-stats { margin-left: 2px; gap: 2px }
.rune-stats > img { width: 17px; border: 1px solid rgb(187, 152, 52); border-radius: 50%; background-color: #282828; }*/

/* Horizontal Stat Mods */
img.stat-mod {
    width: 16px;
    border: 1px solid rgb(187, 152, 52);
    border-radius: 50%;
    background-color: #282828;
    margin-top: 5px;
}

/* stat mod position correction */
.rune-styles > *:nth-child(7), .rune-styles > *:nth-child(8) { margin-left: auto; }
.rune-styles > *:nth-child(8), .rune-styles > *:nth-child(9) { margin-right: auto; }

.summoner-spells {
    gap: 4px;
}

.summoner-spells > img {
    width: 24px;
    border-radius: 4px;
    margin-left: 8px;
}

/*★ ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── ★*/


table#participant-table {
	background: linear-gradient(90deg, rgba(40, 52, 78, 1) 0%, rgba(40, 52, 78, 1) 45%, rgba(89, 52, 59, 1) 55%, rgba(89, 52, 59, 1) 100%);
}

table#participant-table > tbody > tr:first-of-type > td { border-top: 0px solid var(--purple100); }
table#participant-table > tbody td { border-top: 1px solid var(--purple200); }

table#participant-table td {
	height: 136px;
}

.rune-styles img:nth-child(4), .rune-styles img:nth-child(5) {
	transform: translate(50%, 0%);
}

span.bold {
	font-family: Roboto Medium;
}



.winrate-bar {
	height: 10px;
	width: 10em;
}
span.bold { font-family: Roboto Bold; }

td.dd-img {
	/*position: absolute;
	width: 400px;*/
	padding: 0px;
	background-position: bottom 95% right 50%;
    background-size: auto 150%;
    background-blend-mode: luminosity;
    filter: brightness(100%) grayscale(25%) contrast(100%);
}

td.dd-img > ul {
	width: 128px;
	height: 100%;
	gap: 8px;
	padding: 8px;
	color: var(--text200);
	text-shadow:
	    -1.5px -1.5px 0.1em rgba(0,0,0,0.75),
	    1.5px -1.5px 0.1em rgba(0,0,0,0.75),
	    -1.5px 1.5px 0.1em rgba(0,0,0,0.75),
	    1.5px 1.5px 0.1em rgba(0,0,0,0.75);
}

td.dd-img li.strong { font-size: 13px; color: var(--text100); }
td.dd-img li.strong span { color: var(--text400); font-family: Roboto; }
td.dd-img li.strong a:hover { color: var(--text500); }

td.dd-img.team100 > ul {
	background: linear-gradient(90deg,
		rgba(0,0,0,0.6) 0%,
        rgba(0,0,0,0.6) 35%,
        rgba(0,0,0,0) 100%
	);
}
td.dd-img.team200 > ul {
	margin-left: auto;
	background: linear-gradient(90deg,
		rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.6) 65%,
        rgba(0,0,0,0.6) 100%
	);
}

td.dd-img img {
	width: 28px;
	border-radius: 4px;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.35)) drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.35)) drop-shadow(1px -1px 2px rgba(0, 0, 0, 0.35)) drop-shadow(-1px 1px 2px rgba(0, 0, 0, 0.35));
}

td.dd-img.team100 {
	background-color: rgba(83, 131, 232, 0.3);
    -webkit-mask-image: linear-gradient( 90deg,
        rgba(0,0,0,1) 0%,
        rgba(0,0,0,1) 75%,
        rgba(0,0,0,0) 100%
    );
}
td.dd-img.team200 {
	background-color: rgba(232, 64, 87, 0.3);
    -webkit-mask-image: linear-gradient( 90deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,1) 25%,
        rgba(0,0,0,1) 100%
    );
}


tr#match-info th {
	height: auto;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
	padding: 10px 0px;
	background-color: var(--purple300);
}

tr#match-info ul {
	flex-direction: row;
	font-size: 14px;
	color: white;
	font-family: Roboto Light;
}

tr#match-info ul li { padding: 2px 12px; }
tr#match-info ul li ~ li { border-left: 1px solid var(--purple700); }
tr#match-info ul li:last-of-type {
	margin-left: auto;
	border: none;
}

tr#team-info th {
	vertical-align: bottom;
	height: 80px;
	padding: 16px;
}

th.team100 { text-align: left; color: var(--win-blue100); }
th.team200 { text-align: right; color: var(--loss-red100); }
tr#team-info h3 { color: inherit; }

</style>

</head>





<body>

<%- include("partials/navigation-bar") %>


<main>


	<table id="participant-table" class="default">

        <colgroup>
            <col width="256px">
            <col width="auto">
            <col width="auto">
            <col width="96px">
            <col width="auto">
            <col width="auto">
            <col width="256px">

        </colgroup>


<!-- ★ Match Info ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── ★ -->
        <thead>
        	<tr id="match-info">
        		<th colspan="100%">
					<ul>
						<li>
							<span class="icon" style="background-image: url('<%= info.map.svg %>') no-repeat center;"></span>
							<%= info.map.MapName %>
						</li>
						
						<li><%= info.gameStartTime.slice(0, -3) %><span class="small"><%= info.gameStartTime.slice(-2) %></span></li>

						<li><%= info.platformId %> <%= info.gameId %></li>

						<li class="h-container">
							<a class="icon" target="_blank" href="<%= info.links.opgg %>" style="background-image: url('/assets/icons/svgs/opgg-purple.svg');"></a>
							<a class="icon" target="_blank" href="<%= info.links.ugg %>" style="background-image: url('/assets/icons/svgs/icon-link.svg');"></a>
							<a class="icon" target="_blank" href="<%= info.links.xdx %>" style="background-image: url('/assets/icons/svgs/icon-link.svg');"></a>
							<a class="icon" target="_blank" href="<%= info.links.porofessor %>" style="background-image: url('/assets/icons/svgs/icon-link.svg');"></a>
						</li>
					</ul>
        		</th>
        	</tr>


<!-- ★ Bans ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── ★ -->
        	<tr id="team-info">
        		<th class="team100"><h3>Blue Team</h3></th>
        		<th class="team100 bans" colspan="2">
        			<% if (bans.bannedChampions.length > 0) { %>
        			<div class="team100 bans h-container">
        			<% bans["100"].forEach(function(ban) { %>
        				<div class="frame"><img src="<%= ban.champion.img.squarecrop %>"></div>
        			<% }) %>
        			</div>
        			<% } %>
        		</th>
        		<th></th>

        		<th class="team200 bans" colspan="2">
        			<% if (bans.bannedChampions.length > 0) { %>
        			<div class="team200 bans h-container">
        			<% bans["200"].forEach(function(ban) { %>
        				<div class="frame"><img src="<%= ban.champion.img.squarecrop %>"></div>
        			<% }) %>
        			</div>
        			<% } %>
        		</th>
        		<th class="team200"><h3>Red Team</h3></th>
        	</tr>
        </thead>


<!-- ★ Participant Table ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── ★ -->
        <tbody>
        	<% for (let i = 0; i < participants.length/2; i++) {
        		let blue = participants.at(i);
        		let red = participants.at(i+5); %>
			<tr>
				<td class="dd-img team100" style="background-image: url('<%= blue.champion.img.centered %>');">
					 <ul class="left">
						<li class="strong"><a target="_blank" href="<%= blue.opgg %>"><%= blue.gameName %><span>#<%= blue.tagLine %></span></a></li>
						<li class="break"><%= blue.champion.name %></li>
						<li><img src="<%= blue.spell1.img %>"></li>
						<li><img src="<%= blue.spell2.img %>"></li>
					</ul>
				</td>

				<% if (blue.league !== null) { %>
				<td><ul class="league-rank center">
					<li class="tall">
						<span class="icon rank" style="background-image: url('<%= blue.league.img %>');"></span>
						<%= blue.league.tier.charAt(0).toUpperCase() + blue.league.tier.substring(1).toLowerCase() %>
						<%= blue.league.rank %>
						<span class="dull"><%= blue.league.leaguePoints %>LP</span>
					</li>
					<li><div class="winrate-bar"><div style="width:<%= blue.league.winrate.val %>%; background-color: #0070dd;"></div></div></li>
					<li>
						<span class="<%= blue.league.winrate.color %>">
							<span class="bold"><%= blue.league.winrate.val %>%</span>
						</span>
						(<%= blue.league.played %> Played)
					</li>

					<li>
					<% if (blue.league.veteran) { %><span class="icon rank" style="background-image: url('/assets/icons/svgs/icon_category_veterancy.svg');"></span><% } %>
					<% if (blue.league.inactive) { %><span class="icon rank" style="background-image: url('/assets/icons/svgs/icon-medal.svg');"></span><% } %>
					<% if (blue.league.freshBlood) { %><span class="icon rank" style="background-image: url('/assets/icons/svgs/icon_category_teamwork.svg');"></span><% } %>
					<% if (blue.league.hotStreak) { %><span class="icon rank" style="background-image: url('/assets/icons/svgs/icon_category_expertise.svg');"></span><% } %>
					</li>

				</ul></td>
				<% } else { %>
				<td><span class="icon rank" style="background-image: url('/assets/icons/svgs/rank/unranked.svg'); background-size: cover; height: 1.5em; vertical-align: middle; "></span> Unranked</td>
				<% } %>

				<td>
			        <div class="runes h-container">
			            <div><img class="keystone" src="<%= blue.runes.keystone.img %>"></div>

			            <div class="rune-styles grid-container">
			            <% blue.runes.styles.forEach(function(style) { %>
			                <img src="<%= style.img %>">
			            <% }) %>
			            	<img src="">
			            <% blue.runes.stats.forEach(function(stat) { %>
			                <img class="stat-mod" src="<%= stat.img %>">
			            <% }) %>
			            </div>

			            <div class="rune-stats v-container" style="display: none;">
			            <% blue.runes.stats.forEach(function(stat) { %>
			                <img src="<%= stat.img %>">
			            <% }) %>
			            </div>
			        </div>
				</td>



				<td class="filler"></td> <!-- Filler -->



				<td>
			        <div class="runes h-container">
			            <div class="rune-stats v-container" style="display: none;">
			            <% red.runes.stats.forEach(function(stat) { %>
			                <img src="<%= stat.img %>">
			            <% }) %>
			            </div>

			            <div class="rune-styles grid-container">
			            <% red.runes.styles.forEach(function(style) { %>
			                <img src="<%= style.img %>">
			            <% }) %>
			            	<img src="">
			            <% red.runes.stats.forEach(function(stat) { %>
			                <img class="stat-mod" src="<%= stat.img %>">
			            <% }) %>
			            </div>

			            <div><img class="keystone" src="<%= red.runes.keystone.img %>"></div>
			        </div>
				</td>

				<% if (red.league !== null) { %>
				<td><ul class="league-rank center">
					<li class="tall">
						<span class="icon rank" style="background-image: url('<%= red.league.img %>');"></span>
						<%= red.league.tier.charAt(0).toUpperCase() + red.league.tier.substring(1).toLowerCase() %>
						<%= red.league.rank %>
						<span class="dull"><%= red.league.leaguePoints %>LP</span>
					</li>
					<li><div class="winrate-bar"><div style="width:<%= red.league.winrate.val %>%; background-color: #0070dd;"></div></div></li>
					<li>
						<span class="<%= red.league.winrate.color %>">
							<span class="bold"><%= red.league.winrate.val %>%</span>
						</span>
						(<%= red.league.wins %><span class="small">W</span> <%= red.league.losses %><span class="small">L</span>)
					</li>

					<li>
					<% if (red.league.veteran) { %><span class="icon rank" style="background-image: url('/assets/icons/svgs/icon_category_veterancy.svg');"></span><% } %>
					<% if (red.league.inactive) { %><span class="icon rank" style="background-image: url('/assets/icons/svgs/icon-medal.svg');"></span><% } %>
					<% if (red.league.freshBlood) { %><span class="icon rank" style="background-image: url('/assets/icons/svgs/icon_category_teamwork.svg');"></span><% } %>
					<% if (red.league.hotStreak) { %><span class="icon rank" style="background-image: url('/assets/icons/svgs/icon_category_expertise.svg');"></span><% } %>
					</li>

				</ul></td>
				<% } else { %>
				<td><span class="icon rank" style="background-image: url('/assets/icons/svgs/rank/unranked.svg'); background-size: cover; height: 1.5em; vertical-align: middle; "></span> Unranked</td>
				<% } %>

				<td class="dd-img team200" style="background-image: url('<%= red.champion.img.centered %>');">
					<ul class="right">
						<li class="strong"><a target="_blank" href="<%= red.opgg %>"><%= red.gameName %><span>#<%= red.tagLine %></span></a></li>
						<li class="break"><%= red.champion.name %></li>
						<li><img src="<%= red.spell1.img %>"></li>
						<li><img src="<%= red.spell2.img %>"></li>
					</ul>
				</td>
			<% } %>
        </tbody>

    </table>




</main>


<script>

	$(document).ready(function() {
		$(".bans .frame").append("<svg viewBox='0 0 12 12'><path fill='none' stroke='black' stroke-miterlimit='20' stroke-width='4' d='M5.996 10.004c-.44 0-.87-.076-1.29-.228a4.434 4.434 0 01-1.17-.636L9.14 3.536c.272.352.484.74.636 1.164a3.901 3.901 0 01-.324 3.312 3.886 3.886 0 01-1.44 1.44 3.901 3.901 0 01-2.016.552zM2.85 8.454a4.434 4.434 0 01-.636-1.17 3.763 3.763 0 01-.228-1.29 3.9 3.9 0 01.552-2.016 3.887 3.887 0 011.44-1.44 3.901 3.901 0 013.312-.324 4.22 4.22 0 011.164.636zM6 11c.905 0 1.747-.228 2.524-.685a4.92 4.92 0 001.79-1.791A4.895 4.895 0 0011 6c0-.905-.228-1.747-.685-2.524a4.92 4.92 0 00-1.791-1.79A4.895 4.895 0 006 1c-.897 0-1.735.228-2.512.685a5.113 5.113 0 00-1.803 1.803A4.874 4.874 0 001 6c0 .897.228 1.735.685 2.512a5.015 5.015 0 001.791 1.803A4.895 4.895 0 006 11z'></path><path fill='#d8d8d8' d='M5.996 10.004c-.44 0-.87-.076-1.29-.228a4.434 4.434 0 01-1.17-.636L9.14 3.536c.272.352.484.74.636 1.164a3.901 3.901 0 01-.324 3.312 3.886 3.886 0 01-1.44 1.44 3.901 3.901 0 01-2.016.552zM2.85 8.454a4.434 4.434 0 01-.636-1.17 3.763 3.763 0 01-.228-1.29 3.9 3.9 0 01.552-2.016 3.887 3.887 0 011.44-1.44 3.901 3.901 0 013.312-.324 4.22 4.22 0 011.164.636zM6 11c.905 0 1.747-.228 2.524-.685a4.92 4.92 0 001.79-1.791A4.895 4.895 0 0011 6c0-.905-.228-1.747-.685-2.524a4.92 4.92 0 00-1.791-1.79A4.895 4.895 0 006 1c-.897 0-1.735.228-2.512.685a5.113 5.113 0 00-1.803 1.803A4.874 4.874 0 001 6c0 .897.228 1.735.685 2.512a5.015 5.015 0 001.791 1.803A4.895 4.895 0 006 11z'></path></svg>")
	})

</script>


</body>

</html>