<!DOCTYPE html>
<html lang="en">

<head>
<title>Match Details</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Rooks">
<meta name="description" content="Match Details">

<link rel="icon" href="assets/icons/rooksIconGG.png">
<link rel="stylesheet" href="styles.css">
<script src="plugins/jquery-3.4.1.min.js"></script>

<style>

main {
	width: 70vw;
	min-height: 100vh;
    background-color: inherit;
}

ul {
	gap: 1em;
}

li > ul > li:not(:first-of-type) { margin-left: 2em; }
li > ul > li:last-child { margin-bottom: 1em; }



table#stats {
    height: 800px;
    overflow: scroll;
}
thead th {
    position: sticky;
    top: 104px;
    height: 56px;
    background-color: transparent;
}

tbody td {
    height: 38px;
    padding: 8px;
}

table img {
    width: 32px;
    margin: 0 auto;
    border-radius: 4px;
}

/*tr.section:first-of-type > th { height: 40px; }*/
tr.section > th {
    color: #e8e8e8;
    height: 48px;
    vertical-align: bottom;
    border-top: 12px solid var(--purple100);
    text-align: left;
    font-size: 14px;
    padding: 12px;
}

table#stats tr > td:first-of-type {
    border-right: 1px solid var(--purple100);
    text-align: left;
    padding: 8px 8px 8px 24px;
}

table#runes ul {
    font-size: 8px;
    gap: 0.75em;
}

table#runes li.strong { font-size: 9px; color: #c8c8c8; }

table#runes td {
    padding: 8px 0px;
}

table#runes img {
    width: 24px;
}



/*thead th > img {
    width: 36px;
    border-width: 2px;
    border-style: solid;
}
thead th > img.team100 { border-color: var(--win-blue100) ; }
thead th > img.team200 { border-color: var(--loss-red100) ; }*/


thead th.team100 { background-color: var(--img-bg-blue); }
thead th.team200 { background-color: var(--img-bg-red); }
th.dd-cent {
    background-position: bottom 80% right 50%;
    background-size: 180% auto;

    background-blend-mode: luminosity;
    filter: brightness(100%) grayscale(25%) contrast(100%);
}

h3, h4 { font-family: Roboto Medium; font-weight: normal; }
h3 > span, h4 > span {
    font-family: Roboto;
    font-weight: normal;
    color: #b8b8b8;
}

</style>

</head>


<body>

<%- include("partials/navigation-bar") %>


<main>

<h3><span class="dull">matchId</span> – <%= data.metadata.matchId %></h3>
<h4><span class="dull">gameVersion</span> – <%= data.info.gameVersion %></h4>
<h4><span class="dull">gameId</span> – <%= data.info.gameId %></h4>
<br>
<h4><span class="dull">gameCreation</span> – <%= (new Date(data.info.gameCreation)).toLocaleTimeString("en-US", {timeZone: "America/New_York",hour: "numeric",minute: "numeric"}) %></h4>
<h4><span class="dull">gameStartTimestamp</span> – <%= (new Date(data.info.gameStartTimestamp)).toLocaleTimeString("en-US", {timeZone: "America/New_York",hour: "numeric",minute: "numeric"}) %></h4>
<h4><span class="dull">gameEndTimestamp</span> – <%= (new Date(data.info.gameEndTimestamp)).toLocaleTimeString("en-US", {timeZone: "America/New_York",hour: "numeric",minute: "numeric"}) %></h4>
<h4><span class="dull">gameDateTimestamp</span> – <%= data.gameDateTimestamp %></h4>
<h4><span class="dull">gameDuration</span> – <%= data.info.gameDuration %></h4>
<br><br>


<table id="stats" class="default">

    <colgroup>
        <col width="128px">
        <col width="auto">
        <col width="auto">
        <col width="auto">
        <col width="auto">
        <col width="auto">
        <col width="auto">
        <col width="auto">
        <col width="auto">
        <col width="auto">
        <col width="auto">
    </colgroup>

    <thead>
        <tr>
            <th></th>
            <% data.participants.forEach(function(player, index, array) { %>
            <!-- <th><img class="team<%= player.teamId  %>" src="<%= player.champion.img.centered %>"></th> -->

            <th class="dd-cent team<%= player.teamId  %>" style="background-image: url('<%= player.champion.img.centered %>')"></th>
            <% }) %>
        </tr>
    </thead>

    <tbody>
    <% matchVars.forEach(function(section, ind, arr) { %>
        <tr class="section"><th colspan="100%"><%= section.header %></th></tr>

        <% section.variables.forEach(function(variable) {%>
        <tr>
            <td><%= variable %></td>
            <% data.participants.forEach(function(player, index, array) { %>
            <td><% if (player[variable] !== undefined) { %><%= player[variable] %><% } else { %>-<% } %></td>
            <% }) %>
        </tr>
        <% }) %>
    <% }) %>
    </tbody>

</table>





<table id="runes" class="default alternate">

    <colgroup>
        <col width="32px">
        <col width="auto">
        <col width="32px">
        <col width="auto">
        <col width="32px">
        <col width="auto">
        <col width="32px">
        <col width="auto">
        <col width="32px">
        <col width="auto">
        <col width="32px">
        <col width="auto">
        <col width="32px">
        <col width="auto">
        <col width="32px">
        <col width="auto">
        <col width="32px">
        <col width="auto">
        <col width="32px">
        <col width="auto">
    </colgroup>

    <thead>
        <tr>
            <th colspan="2"><img src="/assets/dragontail/champion/squarecrop/Hwei.png"></th>
            <th colspan="2"><img src="/assets/dragontail/champion/squarecrop/Aatrox.png"></th>
            <th colspan="2"><img src="/assets/dragontail/champion/squarecrop/Ahri.png"></th>
            <th colspan="2"><img src="/assets/dragontail/champion/squarecrop/Akali.png"></th>
            <th colspan="2"><img src="/assets/dragontail/champion/squarecrop/Akshan.png"></th>
            <th colspan="2"><img src="/assets/dragontail/champion/squarecrop/Alistar.png"></th>
            <th colspan="2"><img src="/assets/dragontail/champion/squarecrop/Ambessa.png"></th>
            <th colspan="2"><img src="/assets/dragontail/champion/squarecrop/Aatrox.png"></th>
            <th colspan="2"><img src="/assets/dragontail/champion/squarecrop/Amumu.png"></th>
            <th colspan="2"><img src="/assets/dragontail/champion/squarecrop/Anivia.png"></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><img src="\assets\dragontail\perk-images\Styles\Sorcery\ArcaneComet\ArcaneComet.png"></td>
            <td><ul class="left"><li class="strong">Arcane Comet</li><li>Total Damage Dealt: 1030</li></ul></td>

            <td><img src="\assets\dragontail\perk-images\Styles\Sorcery\ArcaneComet\ArcaneComet.png"></td>
            <td><ul class="left"><li class="strong">Arcane Comet</li><li>Total Damage Dealt: 1030</li></ul></td>

            <td><img src="\assets\dragontail\perk-images\Styles\Sorcery\ArcaneComet\ArcaneComet.png"></td>
            <td><ul class="left"><li class="strong">Arcane Comet</li><li>Total Damage Dealt: 1030</li></ul></td>

            <td><img src="\assets\dragontail\perk-images\Styles\Sorcery\ArcaneComet\ArcaneComet.png"></td>
            <td><ul class="left"><li class="strong">Arcane Comet</li><li>Total Damage Dealt: 1030</li></ul></td>

            <td><img src="\assets\dragontail\perk-images\Styles\Sorcery\ArcaneComet\ArcaneComet.png"></td>
            <td><ul class="left"><li class="strong">Arcane Comet</li><li>Total Damage Dealt: 1030</li></ul></td>

            <td><img src="\assets\dragontail\perk-images\Styles\Sorcery\ArcaneComet\ArcaneComet.png"></td>
            <td><ul class="left"><li class="strong">Arcane Comet</li><li>Total Damage Dealt: 1030</li></ul></td>

            <td><img src="\assets\dragontail\perk-images\Styles\Sorcery\ArcaneComet\ArcaneComet.png"></td>
            <td><ul class="left"><li class="strong">Arcane Comet</li><li>Total Damage Dealt: 1030</li></ul></td>

            <td><img src="\assets\dragontail\perk-images\Styles\Sorcery\ArcaneComet\ArcaneComet.png"></td>
            <td><ul class="left"><li class="strong">Arcane Comet</li><li>Total Damage Dealt: 1030</li></ul></td>

            <td><img src="\assets\dragontail\perk-images\Styles\Sorcery\ArcaneComet\ArcaneComet.png"></td>
            <td><ul class="left"><li class="strong">Arcane Comet</li><li>Total Damage Dealt: 1030</li></ul></td>

            <td><img src="\assets\dragontail\perk-images\Styles\Sorcery\ArcaneComet\ArcaneComet.png"></td>
            <td><ul class="left"><li class="strong">Arcane Comet</li><li>Total Damage Dealt: 1030</li></ul></td>
        </tr>
        <tr>
            <td><img src="\assets\dragontail\perk-images\Styles\Sorcery\ManaflowBand\ManaflowBand.png"></td>
            <td><ul class="left"><li class="strong">Manaflow Band</li><li>Total bonus mana: 250</li><li>Total mana restored: 675</li></ul></td>

            <td><img src="\assets\dragontail\perk-images\Styles\Sorcery\ManaflowBand\ManaflowBand.png"></td>
            <td><ul class="left"><li class="strong">Manaflow Band</li><li>Total bonus mana: 250</li><li>Total mana restored: 675</li></ul></td>

            <td><img src="\assets\dragontail\perk-images\Styles\Sorcery\ManaflowBand\ManaflowBand.png"></td>
            <td><ul class="left"><li class="strong">Manaflow Band</li><li>Total bonus mana: 250</li><li>Total mana restored: 675</li></ul></td>

            <td><img src="\assets\dragontail\perk-images\Styles\Sorcery\ManaflowBand\ManaflowBand.png"></td>
            <td><ul class="left"><li class="strong">Manaflow Band</li><li>Total bonus mana: 250</li><li>Total mana restored: 675</li></ul></td>

            <td><img src="\assets\dragontail\perk-images\Styles\Sorcery\ManaflowBand\ManaflowBand.png"></td>
            <td><ul class="left"><li class="strong">Manaflow Band</li><li>Total bonus mana: 250</li><li>Total mana restored: 675</li></ul></td>

            <td><img src="\assets\dragontail\perk-images\Styles\Sorcery\ManaflowBand\ManaflowBand.png"></td>
            <td><ul class="left"><li class="strong">Manaflow Band</li><li>Total bonus mana: 250</li><li>Total mana restored: 675</li></ul></td>

            <td><img src="\assets\dragontail\perk-images\Styles\Sorcery\ManaflowBand\ManaflowBand.png"></td>
            <td><ul class="left"><li class="strong">Manaflow Band</li><li>Total bonus mana: 250</li><li>Total mana restored: 675</li></ul></td>

            <td><img src="\assets\dragontail\perk-images\Styles\Sorcery\ManaflowBand\ManaflowBand.png"></td>
            <td><ul class="left"><li class="strong">Manaflow Band</li><li>Total bonus mana: 250</li><li>Total mana restored: 675</li></ul></td>

            <td><img src="\assets\dragontail\perk-images\Styles\Sorcery\ManaflowBand\ManaflowBand.png"></td>
            <td><ul class="left"><li class="strong">Manaflow Band</li><li>Total bonus mana: 250</li><li>Total mana restored: 675</li></ul></td>

            <td><img src="\assets\dragontail\perk-images\Styles\Sorcery\ManaflowBand\ManaflowBand.png"></td>
            <td><ul class="left"><li class="strong">Manaflow Band</li><li>Total bonus mana: 250</li><li>Total mana restored: 675</li></ul></td>
        </tr>
    </tbody>

</table>


</main>

<!-- {

"profileIcon": 1426,
"riotIdGameName": "ADDERALL XERATH",
"riotIdTagline": "NA1",
"puuid": "_zVHA_4i3q9uekhqXCBAdi56hklK61-mKeLSB61lE-lsmfLBivTBbHu9jmf9D5CAKSKkPBJVKtwdVw",
"summonerId": "szCWKvkp9Kbh4ZifyhhaQjsYAKd4ACzpFJH8K-fD3YF1Vr4_",
"summonerName": "ADDERALL XERATH",
"summonerLevel": 45,
"participantId": 3,
"teamId": 100,

"timePlayed": 1615,
"gameDateTimestamp": "2024-10-17T22:58:14.985Z",
"gameLength": {
  "h": 0,
  "m": 26,
  "s": 55
},


"champExperience": 16281,
"champLevel": 16,
"championId": 910,
"championName": "Hwei",
"bountyLevel": 1,

"individualPosition": "MIDDLE",
"teamPosition": "MIDDLE",
"lane": "MIDDLE",
"role": "SOLO",
"position": "MIDDLE",



"assists": 13,
"deaths": 4,
"kills": 8,


"item0": 6653,
"item1": 3020,
"item2": 3040,
"item3": 4628,
"item4": 4630,
"item5": 1082,
"item6": 3340,
"items": [6653, 3020, 3040, 4628, 4630, 1082, 3340]







"championTransform": 0,
"eligibleForProgression": true,



"perks": {
  "statPerks": {
    "defense": 5011,
    "flex": 5008,
    "offense": 5008
  },
  "styles": {
    "primaryStyle": {
      "description": "primaryStyle",
      "selections": [
        {
          "perk": 8229,
          "var1": 1975,
          "var2": 0,
          "var3": 0
        },
        {
          "perk": 8226,
          "var1": 250,
          "var2": 1401,
          "var3": 0
        },
        {
          "perk": 8210,
          "var1": 25,
          "var2": 0,
          "var3": 0
        },
        {
          "perk": 8236,
          "var1": 24,
          "var2": 0,
          "var3": 0
        }
      ],
      "style": 8200
    },
    "subStyle": {
      "description": "subStyle",
      "selections": [
        {
          "perk": 9105,
          "var1": 15,
          "var2": 30,
          "var3": 0
        },
        {
          "perk": 8017,
          "var1": 1388,
          "var2": 0,
          "var3": 0
        }
      ],
      "style": 8000
    }
  }
},


  
  "platformId": "NA1",

  "queueId": 420,

"metadata": {
  "dataVersion": "2",
  "matchId": "NA1_5135488965",
  "participants": [
    "AsCERcDixmc0HP_CCHiQxWHzpOHpcFYQyOr3O89Dxg449_1vGMFMObidvRLW8pcBpmAKzR3wrTiuwQ",
    "EuYlaB3mQepnU4Xyvw9wa_4TkCEpBaWweRbd3qdfJQNX745bU_Exwly1YcBOttwmqaD4F6ytOQjTqg",
    "_zVHA_4i3q9uekhqXCBAdi56hklK61-mKeLSB61lE-lsmfLBivTBbHu9jmf9D5CAKSKkPBJVKtwdVw",
    "B5oJ85EpNO61smqCoBthCVXKIu3xSthwAxw-y5SwGH9yhWvPdapdg0HYd1Fw0FQz_lO7t5KstRF3xA",
    "eIBhgmRJdeUNmVUgeQPQkWSY-PiQm_o_GwrCwHdtDnD5PybfNu2rpb0dDbbfLlMhgFETK_TgCzTtIQ",
    "9IxS7mk6fw1LkW8t31Ah__cy8OymHJX4caFmEuPW6-FA77e9R_RtoewbiSBHzhfGxbhgd4ujIygxLw",
    "eK0FMQ21O4dIC3w46lcWFzYXu8wXMqUuqYH1hm5NESrLcpBs78x9L_H8eRn6Ct3HQb7Fti5ubnc7PQ",
    "rcdS2NzdyEYu3bx1MZ2XTq2cHB4HlZ5-tViVqphYa1MDtVuS3cL0jO3OSzNtz8Ea7A5mdX4T0xqSuA",
    "7u70VS9vYuQi2EFrNrhPNORTyzpwiLoISOAYocdda02j5uf9WO02SnMjRShLMlSV_J-KK6jBYgoMLA",
    "v9t1rkSQyMzeVuNOUqmoLSbhuYkkp0azcmKeMwhowhumz6nRCJBh8Z7i93W5pnrWmrs77F9OOUD3NQ"
  ]
},

"info": {
  "endOfGameResult": "GameComplete",
  
  "gameVersion": "14.20.623.6777",
  "gameId": 5135488965,
  "gameCreation": 1729218651331,
  "gameStartTimestamp": 1729218679985,
  "gameEndTimestamp": 1729220295786,
  "gameDuration": 1615,

  "gameMode": "CLASSIC",
  "gameName": "teambuilder-match-5135488965",
  "gameType": "MATCHED_GAME",
  "mapId": 11,

  "participants": {
    "ally": [
      { "championId": 82, "championName": "Mordekaiser", "riotIdGameName": "Roach bully", "riotIdTagline": "1850", "relationship": "ally", "position": "TOP" },
      { "championId": 62, "championName": "MonkeyKing", "riotIdGameName": "KingPinTheUnit", "riotIdTagline": "NA1", "relationship": "ally", "position": "JUNGLE" },
      { "championId": 202, "championName": "Jhin", "riotIdGameName": "Jari", "riotIdTagline": "NA1", "relationship": "ally", "position": "BOTTOM" },
      { "championId": 64, "championName": "LeeSin", "riotIdGameName": "Coreytime", "riotIdTagline": "NA1", "relationship": "ally", "position": "SUPPORT" }
    ],
    "enemy": [
      { "championId": 223, "championName": "TahmKench", "riotIdGameName": "TopGuru", "riotIdTagline": "NA1", "relationship": "enemy", "position": "TOP" },
      { "championId": 107, "championName": "Rengar", "riotIdGameName": "HuntedByRengar", "riotIdTagline": "7682", "relationship": "enemy", "position": "JUNGLE" },
      { "championId": 134, "championName": "Syndra", "riotIdGameName": "Buu", "riotIdTagline": "BBQ", "relationship": "enemy", "position": "MIDDLE" },
      { "championId": 429, "championName": "Kalista", "riotIdGameName": "Pro Hater", "riotIdTagline": "NA1", "relationship": "enemy", "position": "BOTTOM" },
      { "championId": 412, "championName": "Thresh", "riotIdGameName": "Lil Benny", "riotIdTagline": "NA1", "relationship": "enemy", "position": "SUPPORT" }
    ]
  },

  "teams": [
    {
      "bans": [
        { "championId": 555, "pickTurn": 1 },
        { "championId": 266, "pickTurn": 2 },
        { "championId": 77, "pickTurn": 3 },
        { "championId": 7, "pickTurn": 4 },
        { "championId": 78, "pickTurn": 5 }
      ],
      "objectives": {
        "baron": { "first": true, "kills": 1 },
        "champion": { "first": false, "kills": 38 },
        "dragon": { "first": true, "kills": 3 },
        "horde": { "first": false, "kills": 2 },
        "inhibitor": { "first": true, "kills": 1 },
        "riftHerald": { "first": true, "kills": 1 },
        "tower": { "first": true, "kills": 9 }
      },
      "teamId": 100,
      "win": true
    },
    {
      "bans": [
        { "championId": 266, "pickTurn": 6 },
        { "championId": 77, "pickTurn": 7 },
        { "championId": 7, "pickTurn": 8 },
        { "championId": 201, "pickTurn": 9 },
        { "championId": 119, "pickTurn": 10 }
      ],
      "objectives": {
        "baron": { "first": false, "kills": 0 },
        "champion": { "first": true, "kills": 26 },
        "dragon": { "first": false, "kills": 1 },
        "horde": { "first": true, "kills": 4 },
        "inhibitor": { "first": false, "kills": 0 },
        "riftHerald": { "first": false, "kills": 0 },
        "tower": { "first": false, "kills": 3 }
      },
      "teamId": 200,
      "win": false
    }
  ],

  "tournamentCode": ""





"_id": "67121edcd0c6ad336b3c2f54",
"challenges": {
  "12AssistStreakCount": 0,
  "HealFromMapSources": 400,
  "InfernalScalePickup": 0,
  "SWARM_DefeatAatrox": 0,
  "SWARM_DefeatBriar": 0,
  "SWARM_DefeatMiniBosses": 0,
  "SWARM_EvolveWeapon": 0,
  "SWARM_Have3Passives": 0,
  "SWARM_KillEnemy": 0,
  "SWARM_PickupGold": 0,
  "SWARM_ReachLevel50": 0,
  "SWARM_Survive15Min": 0,
  "SWARM_WinWith5EvolvedWeapons": 0,
  "abilityUses": 323,
  "acesBefore15Minutes": 0,
  "alliedJungleMonsterKills": 10,
  "baronBuffGoldAdvantageOverThreshold": 1,
  "baronTakedowns": 0,
  "blastConeOppositeOpponentCount": 0,
  "bountyGold": 300,
  "buffsStolen": 0,
  "completeSupportQuestInTime": 0,
  "controlWardsPlaced": 0,
  "damagePerMinute": 1212.44396778352,
  "damageTakenOnTeamPercentage": 0.143357814740605,
  "dancedWithRiftHerald": 0,
  "deathsByEnemyChamps": 4,
  "dodgeSkillShotsSmallWindow": 10,
  "doubleAces": 0,
  "dragonTakedowns": 1,
  "earliestBaron": 1326.130485743,
  "earliestDragonTakedown": 1045.828646882,
  "earlyLaningPhaseGoldExpAdvantage": 0,
  "effectiveHealAndShielding": 1100.65942382813,
  "elderDragonKillsWithOpposingSoul": 0,
  "elderDragonMultikills": 0,
  "enemyChampionImmobilizations": 48,
  "enemyJungleMonsterKills": 0,
  "epicMonsterKillsNearEnemyJungler": 0,
  "epicMonsterKillsWithin30SecondsOfSpawn": 0,
  "epicMonsterSteals": 0,
  "epicMonsterStolenWithoutSmite": 0,
  "firstTurretKilled": 1,
  "firstTurretKilledTime": 945.386796533,
  "fistBumpParticipation": 0,
  "flawlessAces": 0,
  "fullTeamTakedown": 0,
  "gameLength": 1616.146077317,
  "getTakedownsInAllLanesEarlyJungleAsLaner": 0,
  "goldPerMinute": 467.423181126731,
  "hadOpenNexus": 0,
  "highestChampionDamage": 1,
  "immobilizeAndKillWithAlly": 8,
  "initialBuffCount": 0,
  "initialCrabCount": 0,
  "jungleCsBefore10Minutes": 0,
  "junglerTakedownsNearDamagedEpicMonster": 2,
  "kTurretsDestroyedBeforePlatesFall": 0,
  "kda": 5.25,
  "killAfterHiddenWithAlly": 3,
  "killParticipation": 0.552631578947369,
  "killedChampTookFullTeamDamageSurvived": 0,
  "killingSprees": 1,
  "killsNearEnemyTurret": 3,
  "killsOnOtherLanesEarlyJungleAsLaner": 0,
  "killsOnRecentlyHealedByAramPack": 0,
  "killsUnderOwnTurret": 0,
  "killsWithHelpFromEpicMonster": 1,
  "knockEnemyIntoTeamAndKill": 3,
  "landSkillShotsEarlyGame": 0,
  "laneMinionsFirst10Minutes": 66,
  "laningPhaseGoldExpAdvantage": 0,
  "legendaryCount": 0,
  "legendaryItemUsed": [3003, 3040, 4628, 6653],
  "lostAnInhibitor": 0,
  "maxCsAdvantageOnLaneOpponent": 0,
  "maxKillDeficit": 1,
  "maxLevelLeadLaneOpponent": 2,
  "mejaisFullStackInTime": 0,
  "moreEnemyJungleThanOpponent": 0,
  "multiKillOneSpell": 0,
  "multiTurretRiftHeraldCount": 0,
  "multikills": 1,
  "multikillsAfterAggressiveFlash": 0,
  "outerTurretExecutesBefore10Minutes": 0,
  "outnumberedKills": 3,
  "outnumberedNexusKill": 0,
  "perfectDragonSoulsTaken": 0,
  "perfectGame": 0,
  "pickKillWithAlly": 10,
  "playedChampSelectPosition": 1,
  "poroExplosions": 0,
  "quickCleanse": 0,
  "quickFirstTurret": 0,
  "quickSoloKills": 0,
  "riftHeraldTakedowns": 1,
  "saveAllyFromDeath": 0,
  "scuttleCrabKills": 0,
  "shortestTimeToAceFromFirstTakedown": 34.664978754,
  "skillshotsDodged": 72,
  "skillshotsHit": 13,
  "snowballsHit": 0,
  "soloBaronKills": 0,
  "soloKills": 3,
  "stealthWardsPlaced": 9,
  "survivedSingleDigitHpCount": 0,
  "survivedThreeImmobilizesInFight": 18,
  "takedownOnFirstTurret": 0,
  "takedowns": 21,
  "takedownsAfterGainingLevelAdvantage": 0,
  "takedownsBeforeJungleMinionSpawn": 0,
  "takedownsFirstXMinutes": 4,
  "takedownsInAlcove": 1,
  "takedownsInEnemyFountain": 0,
  "teamBaronKills": 1,
  "teamDamagePercentage": 0.272010611714108,
  "teamElderDragonKills": 0,
  "teamRiftHeraldKills": 1,
  "teleportTakedowns": 1,
  "tookLargeDamageSurvived": 0,
  "turretPlatesTaken": 1,
  "turretTakedowns": 4,
  "turretsTakenWithRiftHerald": 5,
  "twentyMinionsIn3SecondsCount": 0,
  "twoWardsOneSweeperCount": 0,
  "unseenRecalls": 0,
  "visionScoreAdvantageLaneOpponent": 0.768066883087158,
  "visionScorePerMinute": 0.769577050825468,
  "voidMonsterKill": 1,
  "wardTakedowns": 4,
  "wardTakedownsBefore20M": 0,
  "wardsGuarded": 0
},
},
} -->


</body>

</html>