<!DOCTYPE html>
<html lang="en">

<head>
<title>Match Details</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Rooks">
<meta name="description" content="Match Details">

<link rel="icon" href="assets/icons/rooksIconGG.png">
<link rel="stylesheet" href="styles.css">
<script src="plugins/jquery-3.4.1.min.js"></script>

<style>

main {
	width: 70vw;
	min-height: 100vh;
  color: #989898; /*d8d8d8*/
	font-size: 14px;
}

span {
  color: white;
  margin-left: 0.5em;
}

ul {
	gap: 1em;
}

li > ul > li:not(:first-of-type) { margin-left: 2em; }
li > ul > li:last-child { margin-bottom: 1em; }



span[data-desc] { position: relative; }
span[data-desc]:hover::after {
  content: attr(data-desc);
  position: absolute;
  left: 50%;
  bottom: 100%;
  min-width: 64px;
  max-width: 200px;
  background-color: white;
  color: black;
  font-size: 12px;
  padding: 6px;
  z-index: 3;
  transform: translate(-50%, -4px);
}

</style>

</head>

<body>

<%- include("partials/navigation-bar") %>


<!--                                                                                     <li>VARIABLE <span><%= data.VARIABLE %></span></li> -->

<main>
  <h3>matchId <span><%= data.metadata.matchId %></span></h3><br><br>
  <ul>
    <li>championName <span data-desc="<%= data.championName %>"><%= data.championName %></span></li>
    <li>champLevel <span><%= data.champLevel %></span></li>
    <li>champExperience <span><%= data.champExperience %></span></li>
    <li>championId <span><%= data.championId %></span></li>
    <li>champExperience <span><%= data.champExperience %></span></li>

    <li><ul>
      <li>Perks</li>
      <% data.perks.styles.primaryStyle.selections.forEach(function(element) { %>
      <li><ul>
        <li>perk <span><%= element.perk %></span></li>
        <li>var1 <span><%= element.var1 %></span></li>
        <li>var2 <span><%= element.var2 %></span></li>
        <li>var3 <span><%= element.var3 %></span></li>
      </ul></li>
      <% }) %>
      <% data.perks.styles.subStyle.selections.forEach(function(element) { %>
      <li><ul>
        <li>perk <span><%= element.perk %></span></li>
        <li>var1 <span><%= element.var1 %></span></li>
        <li>var2 <span><%= element.var2 %></span></li>
        <li>var3 <span><%= element.var3 %></span></li>
      </ul></li>
      <% }) %>
      <li>defense <span><%= data.perks.statPerks.defense %></span></li>
      <li>flex <span><%= data.perks.statPerks.flex %></span></li>
      <li>offense <span><%= data.perks.statPerks.offense %></span></li>
    </ul></li>
  </ul>


  <br><br><br>

	<ul>
	<% Object.keys(data).forEach(function(element) { %>
		<li><%= element %><span class="dull">&nbsp&nbsp&nbsp&nbsp<%= data[element] %></span></li>
	<% }) %>
	</ul>
</main>

<!-- {

"profileIcon": 1426,
"riotIdGameName": "ADDERALL XERATH",
"riotIdTagline": "NA1",
"puuid": "_zVHA_4i3q9uekhqXCBAdi56hklK61-mKeLSB61lE-lsmfLBivTBbHu9jmf9D5CAKSKkPBJVKtwdVw",
"summonerId": "szCWKvkp9Kbh4ZifyhhaQjsYAKd4ACzpFJH8K-fD3YF1Vr4_",
"summonerName": "ADDERALL XERATH",
"summonerLevel": 45,
"participantId": 3,
"teamId": 100,

"timePlayed": 1615,
"win": true,
"gameDateTimestamp": "2024-10-17T22:58:14.985Z",
"gameLength": {
  "h": 0,
  "m": 26,
  "s": 55
},


"champExperience": 16281,
"champLevel": 16,
"championId": 910,
"championName": "Hwei",
"bountyLevel": 1,

"individualPosition": "MIDDLE",
"teamPosition": "MIDDLE",
"lane": "MIDDLE",
"role": "SOLO",
"position": "MIDDLE",

"spell1Casts": 137,
"spell2Casts": 86,
"spell3Casts": 91,
"spell4Casts": 9,

"summoner1Casts": 4,
"summoner1Id": 4,
"summoner2Casts": 5,
"summoner2Id": 12,

"neutralMinionsKilled": 12,
"totalAllyJungleMinionsKilled": 9,
"totalEnemyJungleMinionsKilled": 0,
"totalMinionsKilled": 165,

"detectorWardsPlaced": 0,
"sightWardsBoughtInGame": 0,
"visionScore": 20,
"visionWardsBoughtInGame": 0,
"wardsKilled": 4,
"wardsPlaced": 9,

"assists": 13,
"deaths": 4,
"kills": 8,


"goldEarned": 12590,
"goldSpent": 11650,
"consumablesPurchased": 2,
"item0": 6653,
"item1": 3020,
"item2": 3040,
"item3": 4628,
"item4": 4630,
"item5": 1082,
"item6": 3340,
"items": [6653, 3020, 3040, 4628, 4630, 1082, 3340]
"itemsPurchased": 23,


"doubleKills": 1,
"pentaKills": 0,
"tripleKills": 0,
"unrealKills": 0,
"quadraKills": 0,
"killingSprees": 3,
"largestCriticalStrike": 0,
"largestKillingSpree": 3,
"largestMultiKill": 2,

"baronKills": 0,
"dragonKills": 0,
"firstBloodAssist": false,
"firstBloodKill": false,
"firstTowerAssist": true,
"firstTowerKill": false,
"inhibitorKills": 0,
"inhibitorTakedowns": 0,
"inhibitorsLost": 0,
"nexusKills": 0,
"nexusLost": 0,
"nexusTakedowns": 0,
"objectivesStolen": 0,
"objectivesStolenAssists": 0,
"turretKills": 1,
"turretTakedowns": 4,
"turretsLost": 3,


"damageDealtToBuildings": 3687,
"damageDealtToObjectives": 7705,
"damageDealtToTurrets": 3687,
"damageSelfMitigated": 7682,
"magicDamageDealt": 128409,
"magicDamageDealtToChampions": 31404,
"magicDamageTaken": 8804,
"physicalDamageDealt": 14675,
"physicalDamageDealtToChampions": 1219,
"physicalDamageTaken": 6274,
"trueDamageDealt": 4775,
"trueDamageDealtToChampions": 34,
"trueDamageTaken": 596,
"totalDamageDealt": 147859,
"totalDamageDealtToChampions": 32658,
"totalDamageShieldedOnTeammates": 1100,
"totalDamageTaken": 15676,
"totalHeal": 1366,
"totalHealsOnTeammates": 0,
"timeCCingOthers": 37,
"totalTimeCCDealt": 778,
"totalTimeSpentDead": 141,
"totalUnitsHealed": 1,


"allInPings": 0,
"assistMePings": 0,
"basicPings": 0,
"commandPings": 2,
"dangerPings": 0,
"enemyMissingPings": 2,
"enemyVisionPings": 2,
"getBackPings": 1,
"holdPings": 0,
"needVisionPings": 0,
"onMyWayPings": 1,
"pushPings": 1,
"visionClearedPings": 0,

"longestTimeSpentLiving": 653,


"gameEndedInEarlySurrender": false,
"gameEndedInSurrender": true,
"teamEarlySurrendered": false,

"championTransform": 0,
"eligibleForProgression": true,



"_id": "67121edcd0c6ad336b3c2f54",
"challenges": {
  "12AssistStreakCount": 0,
  "HealFromMapSources": 400,
  "InfernalScalePickup": 0,
  "SWARM_DefeatAatrox": 0,
  "SWARM_DefeatBriar": 0,
  "SWARM_DefeatMiniBosses": 0,
  "SWARM_EvolveWeapon": 0,
  "SWARM_Have3Passives": 0,
  "SWARM_KillEnemy": 0,
  "SWARM_PickupGold": 0,
  "SWARM_ReachLevel50": 0,
  "SWARM_Survive15Min": 0,
  "SWARM_WinWith5EvolvedWeapons": 0,
  "abilityUses": 323,
  "acesBefore15Minutes": 0,
  "alliedJungleMonsterKills": 10,
  "baronBuffGoldAdvantageOverThreshold": 1,
  "baronTakedowns": 0,
  "blastConeOppositeOpponentCount": 0,
  "bountyGold": 300,
  "buffsStolen": 0,
  "completeSupportQuestInTime": 0,
  "controlWardsPlaced": 0,
  "damagePerMinute": 1212.44396778352,
  "damageTakenOnTeamPercentage": 0.143357814740605,
  "dancedWithRiftHerald": 0,
  "deathsByEnemyChamps": 4,
  "dodgeSkillShotsSmallWindow": 10,
  "doubleAces": 0,
  "dragonTakedowns": 1,
  "earliestBaron": 1326.130485743,
  "earliestDragonTakedown": 1045.828646882,
  "earlyLaningPhaseGoldExpAdvantage": 0,
  "effectiveHealAndShielding": 1100.65942382813,
  "elderDragonKillsWithOpposingSoul": 0,
  "elderDragonMultikills": 0,
  "enemyChampionImmobilizations": 48,
  "enemyJungleMonsterKills": 0,
  "epicMonsterKillsNearEnemyJungler": 0,
  "epicMonsterKillsWithin30SecondsOfSpawn": 0,
  "epicMonsterSteals": 0,
  "epicMonsterStolenWithoutSmite": 0,
  "firstTurretKilled": 1,
  "firstTurretKilledTime": 945.386796533,
  "fistBumpParticipation": 0,
  "flawlessAces": 0,
  "fullTeamTakedown": 0,
  "gameLength": 1616.146077317,
  "getTakedownsInAllLanesEarlyJungleAsLaner": 0,
  "goldPerMinute": 467.423181126731,
  "hadOpenNexus": 0,
  "highestChampionDamage": 1,
  "immobilizeAndKillWithAlly": 8,
  "initialBuffCount": 0,
  "initialCrabCount": 0,
  "jungleCsBefore10Minutes": 0,
  "junglerTakedownsNearDamagedEpicMonster": 2,
  "kTurretsDestroyedBeforePlatesFall": 0,
  "kda": 5.25,
  "killAfterHiddenWithAlly": 3,
  "killParticipation": 0.552631578947369,
  "killedChampTookFullTeamDamageSurvived": 0,
  "killingSprees": 1,
  "killsNearEnemyTurret": 3,
  "killsOnOtherLanesEarlyJungleAsLaner": 0,
  "killsOnRecentlyHealedByAramPack": 0,
  "killsUnderOwnTurret": 0,
  "killsWithHelpFromEpicMonster": 1,
  "knockEnemyIntoTeamAndKill": 3,
  "landSkillShotsEarlyGame": 0,
  "laneMinionsFirst10Minutes": 66,
  "laningPhaseGoldExpAdvantage": 0,
  "legendaryCount": 0,
  "legendaryItemUsed": [3003, 3040, 4628, 6653],
  "lostAnInhibitor": 0,
  "maxCsAdvantageOnLaneOpponent": 0,
  "maxKillDeficit": 1,
  "maxLevelLeadLaneOpponent": 2,
  "mejaisFullStackInTime": 0,
  "moreEnemyJungleThanOpponent": 0,
  "multiKillOneSpell": 0,
  "multiTurretRiftHeraldCount": 0,
  "multikills": 1,
  "multikillsAfterAggressiveFlash": 0,
  "outerTurretExecutesBefore10Minutes": 0,
  "outnumberedKills": 3,
  "outnumberedNexusKill": 0,
  "perfectDragonSoulsTaken": 0,
  "perfectGame": 0,
  "pickKillWithAlly": 10,
  "playedChampSelectPosition": 1,
  "poroExplosions": 0,
  "quickCleanse": 0,
  "quickFirstTurret": 0,
  "quickSoloKills": 0,
  "riftHeraldTakedowns": 1,
  "saveAllyFromDeath": 0,
  "scuttleCrabKills": 0,
  "shortestTimeToAceFromFirstTakedown": 34.664978754,
  "skillshotsDodged": 72,
  "skillshotsHit": 13,
  "snowballsHit": 0,
  "soloBaronKills": 0,
  "soloKills": 3,
  "stealthWardsPlaced": 9,
  "survivedSingleDigitHpCount": 0,
  "survivedThreeImmobilizesInFight": 18,
  "takedownOnFirstTurret": 0,
  "takedowns": 21,
  "takedownsAfterGainingLevelAdvantage": 0,
  "takedownsBeforeJungleMinionSpawn": 0,
  "takedownsFirstXMinutes": 4,
  "takedownsInAlcove": 1,
  "takedownsInEnemyFountain": 0,
  "teamBaronKills": 1,
  "teamDamagePercentage": 0.272010611714108,
  "teamElderDragonKills": 0,
  "teamRiftHeraldKills": 1,
  "teleportTakedowns": 1,
  "tookLargeDamageSurvived": 0,
  "turretPlatesTaken": 1,
  "turretTakedowns": 4,
  "turretsTakenWithRiftHerald": 5,
  "twentyMinionsIn3SecondsCount": 0,
  "twoWardsOneSweeperCount": 0,
  "unseenRecalls": 0,
  "visionScoreAdvantageLaneOpponent": 0.768066883087158,
  "visionScorePerMinute": 0.769577050825468,
  "voidMonsterKill": 1,
  "wardTakedowns": 4,
  "wardTakedownsBefore20M": 0,
  "wardsGuarded": 0
},
"perks": {
  "statPerks": {
    "defense": 5011,
    "flex": 5008,
    "offense": 5008
  },
  "styles": {
    "primaryStyle": {
      "description": "primaryStyle",
      "selections": [
        {
          "perk": 8229,
          "var1": 1975,
          "var2": 0,
          "var3": 0
        },
        {
          "perk": 8226,
          "var1": 250,
          "var2": 1401,
          "var3": 0
        },
        {
          "perk": 8210,
          "var1": 25,
          "var2": 0,
          "var3": 0
        },
        {
          "perk": 8236,
          "var1": 24,
          "var2": 0,
          "var3": 0
        }
      ],
      "style": 8200
    },
    "subStyle": {
      "description": "subStyle",
      "selections": [
        {
          "perk": 9105,
          "var1": 15,
          "var2": 30,
          "var3": 0
        },
        {
          "perk": 8017,
          "var1": 1388,
          "var2": 0,
          "var3": 0
        }
      ],
      "style": 8000
    }
  }
},
"metadata": {
  "dataVersion": "2",
  "matchId": "NA1_5135488965",
  "participants": [
    "AsCERcDixmc0HP_CCHiQxWHzpOHpcFYQyOr3O89Dxg449_1vGMFMObidvRLW8pcBpmAKzR3wrTiuwQ",
    "EuYlaB3mQepnU4Xyvw9wa_4TkCEpBaWweRbd3qdfJQNX745bU_Exwly1YcBOttwmqaD4F6ytOQjTqg",
    "_zVHA_4i3q9uekhqXCBAdi56hklK61-mKeLSB61lE-lsmfLBivTBbHu9jmf9D5CAKSKkPBJVKtwdVw",
    "B5oJ85EpNO61smqCoBthCVXKIu3xSthwAxw-y5SwGH9yhWvPdapdg0HYd1Fw0FQz_lO7t5KstRF3xA",
    "eIBhgmRJdeUNmVUgeQPQkWSY-PiQm_o_GwrCwHdtDnD5PybfNu2rpb0dDbbfLlMhgFETK_TgCzTtIQ",
    "9IxS7mk6fw1LkW8t31Ah__cy8OymHJX4caFmEuPW6-FA77e9R_RtoewbiSBHzhfGxbhgd4ujIygxLw",
    "eK0FMQ21O4dIC3w46lcWFzYXu8wXMqUuqYH1hm5NESrLcpBs78x9L_H8eRn6Ct3HQb7Fti5ubnc7PQ",
    "rcdS2NzdyEYu3bx1MZ2XTq2cHB4HlZ5-tViVqphYa1MDtVuS3cL0jO3OSzNtz8Ea7A5mdX4T0xqSuA",
    "7u70VS9vYuQi2EFrNrhPNORTyzpwiLoISOAYocdda02j5uf9WO02SnMjRShLMlSV_J-KK6jBYgoMLA",
    "v9t1rkSQyMzeVuNOUqmoLSbhuYkkp0azcmKeMwhowhumz6nRCJBh8Z7i93W5pnrWmrs77F9OOUD3NQ"
  ]
},
"info": {
  "endOfGameResult": "GameComplete",
  "gameCreation": 1729218651331,
  "gameDuration": 1615,
  "gameEndTimestamp": 1729220295786,
  "gameId": 5135488965,
  "gameMode": "CLASSIC",
  "gameName": "teambuilder-match-5135488965",
  "gameStartTimestamp": 1729218679985,
  "gameType": "MATCHED_GAME",
  "gameVersion": "14.20.623.6777",
  "mapId": 11,
  "participants": {
    "ally": [
      {
        "championId": 82,
        "championName": "Mordekaiser",
        "riotIdGameName": "Roach bully",
        "riotIdTagline": "1850",
        "relationship": "ally",
        "position": "TOP"
      },
      {
        "championId": 62,
        "championName": "MonkeyKing",
        "riotIdGameName": "KingPinTheUnit",
        "riotIdTagline": "NA1",
        "relationship": "ally",
        "position": "JUNGLE"
      },
      {
        "championId": 202,
        "championName": "Jhin",
        "riotIdGameName": "Jari",
        "riotIdTagline": "NA1",
        "relationship": "ally",
        "position": "BOTTOM"
      },
      {
        "championId": 64,
        "championName": "LeeSin",
        "riotIdGameName": "Coreytime",
        "riotIdTagline": "NA1",
        "relationship": "ally",
        "position": "SUPPORT"
      }
    ],
    "enemy": [
      {
        "championId": 223,
        "championName": "TahmKench",
        "riotIdGameName": "TopGuru",
        "riotIdTagline": "NA1",
        "relationship": "enemy",
        "position": "TOP"
      },
      {
        "championId": 107,
        "championName": "Rengar",
        "riotIdGameName": "HuntedByRengar",
        "riotIdTagline": "7682",
        "relationship": "enemy",
        "position": "JUNGLE"
      },
      {
        "championId": 134,
        "championName": "Syndra",
        "riotIdGameName": "Buu",
        "riotIdTagline": "BBQ",
        "relationship": "enemy",
        "position": "MIDDLE"
      },
      {
        "championId": 429,
        "championName": "Kalista",
        "riotIdGameName": "Pro Hater",
        "riotIdTagline": "NA1",
        "relationship": "enemy",
        "position": "BOTTOM"
      },
      {
        "championId": 412,
        "championName": "Thresh",
        "riotIdGameName": "Lil Benny",
        "riotIdTagline": "NA1",
        "relationship": "enemy",
        "position": "SUPPORT"
      }
    ]
  },
  "platformId": "NA1",
  "queueId": 420,
  "teams": [
    {
      "bans": [
        {
          "championId": 555,
          "pickTurn": 1
        },
        {
          "championId": 266,
          "pickTurn": 2
        },
        {
          "championId": 77,
          "pickTurn": 3
        },
        {
          "championId": 7,
          "pickTurn": 4
        },
        {
          "championId": 78,
          "pickTurn": 5
        }
      ],
      "objectives": {
        "baron": {
          "first": true,
          "kills": 1
        },
        "champion": {
          "first": false,
          "kills": 38
        },
        "dragon": {
          "first": true,
          "kills": 3
        },
        "horde": {
          "first": false,
          "kills": 2
        },
        "inhibitor": {
          "first": true,
          "kills": 1
        },
        "riftHerald": {
          "first": true,
          "kills": 1
        },
        "tower": {
          "first": true,
          "kills": 9
        }
      },
      "teamId": 100,
      "win": true
    },
    {
      "bans": [
        {
          "championId": 266,
          "pickTurn": 6
        },
        {
          "championId": 77,
          "pickTurn": 7
        },
        {
          "championId": 7,
          "pickTurn": 8
        },
        {
          "championId": 201,
          "pickTurn": 9
        },
        {
          "championId": 119,
          "pickTurn": 10
        }
      ],
      "objectives": {
        "baron": {
          "first": false,
          "kills": 0
        },
        "champion": {
          "first": true,
          "kills": 26
        },
        "dragon": {
          "first": false,
          "kills": 1
        },
        "horde": {
          "first": true,
          "kills": 4
        },
        "inhibitor": {
          "first": false,
          "kills": 0
        },
        "riftHerald": {
          "first": false,
          "kills": 0
        },
        "tower": {
          "first": false,
          "kills": 3
        }
      },
      "teamId": 200,
      "win": false
    }
  ],
  "tournamentCode": ""
},
} -->


</body>

</html>