<!DOCTYPE html>
<html lang="en">

<head>
<title>Rooks - <%= pageTitle %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Rooks">
<meta name="description" content="Baseline page template">

<link rel="icon" href="assets/icons/rooksIconGG.png">
<link rel="stylesheet" href="styles.css">
<script src="plugins/jquery-3.4.1.min.js"></script>

<style>

	main {
	    background: none;
	    padding: 0px;
	    width: 60vw;

	    display: grid;
	    grid-template-columns: 1fr 2fr;
	    grid-template-rows: 16px auto auto auto;
	    /*grid-auto-flow: column;*/
	    grid-template-areas:
	    "misc misc"
	    "champ hist"
	    "enemy hist"
	    ". hist";
	}

	main > div {
	    width: 100%;
	}

	#general-info {
		grid-area: misc;
	}

	#champions, #matchups {
	    padding: 8px;
	}

	.left-col .row-container {
		width: 100%;
		height: 100%;
		gap: 4px;
	}


	/* Left Column Sections */
	#matchups img {
	    border: 2px solid #e84057;
	}

	#champions .row-item, #matchups .row-item {
	    height: 48px;
	    padding: 4px 16px;
	    font-size: 11px;
	}

	.left-col .row-item * {
	    font-size: 11px;
	}

	.left-col li.strong {
	    font-size: 12px;
	}

	.left-col > h3 {
	    padding: 8px;
	    margin-bottom: 0.5em;
	}

	.row-container ul {
	    gap: 4px;
	}

	.winrate-bar {
	    width: 35%;
	}


	/* Match History ────────────────────────────────────────────────────────────────────── */
    .grid-row-container {
        display: grid;
    }

    .grid-row {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1; /* take up full grid row */
        height: 100%;
        align-items: center;
    }

    .grid-row img {
        height: 100%;
    }


    /* Match History */
    #match-history {
        grid-area: hist;
        background-color: transparent;

        grid-template-columns: 1fr auto auto 196px;
        grid-auto-rows: 112px;
        column-gap: 38px;
        row-gap: 8px;
    }

    .win { background-color: #28344e; }
    .loss { background-color: #59343b; }
    .remake { background-color: #282830; }
    .win li.strong { color: #5383e8; }
    .loss li.strong { color: #e84057; }
    .remake li.strong { color: #9e9eb1; }
    .win .side-bar { background-color: #5383e8; }
    .loss .side-bar { background-color: #e84057; }
    .remake .side-bar { background-color: #9e9eb1; }


    #match-history > .grid-row {
        position: relative;
        overflow: hidden;
        border-radius: 4px;
    }


    /* Left Info ──────────────────────────────────────────────────────────────────────────── */
    div.dd-center {
        width: 35%;
        height: 100%;
        background-position: bottom 80% right 50%;
        background-size: 160% auto;
        -webkit-mask-image: linear-gradient(
            90deg,
            rgba(0,0,0,1) 0%,
            rgba(0,0,0,1) 75%,
            rgba(0,0,0,0) 100%
        );
    }

    div.dd-center > ul {
        gap: 6px;
        padding: 12px 16px;
        width: 50%;
        height: 100%;
        background: linear-gradient(
            90deg,
            rgba(0,0,0,1) 5%,
            rgba(0,0,0,0.6) 6%,
            rgba(0,0,0,0.6) 50%,
            rgba(0,0,0,0) 100%
        );
    }

    div.dd-center li > span {
        font-size: 0.8rem;
    }

    li.account { color: #C8C8C8; }

    .side-bar {
        position: inherit;
        top: inherit;
        height: 100%;
        width: 8px;
    }


    /* Runes ──────────────────────────────────────────────────────────────────────────────── */
    .runes {
        grid-column: 2;
    }

    .runes, .rune-options {
        gap: 4px;
    }

    img.keystone {
        width: 48px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 24px);
        grid-template-rows: repeat(2, 24px);
    }

    .rune-stats {
        margin-left: 4px;
        gap: 2px
    }

    .rune-stats > img {
        width: 20px;
        border:1px solid rgb(187, 152, 52);
        border-radius: 50%;
        background-color: #282828;
    }


    /* Items ──────────────────────────────────────────────────────────────────────────────── */
    .items {
        grid-column: 3;
    }

    table.items {
        table-layout: fixed;
        border-collapse: separate;
        border-spacing: 4px;
    }

    table.items td {
        height: 24px;
        width: 24px;
        padding: 0px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        overflow: hidden;
    }


    /* Participants ───────────────────────────────────────────────────────────────────────── */
    table.participants {
        grid-column: 4;
        table-layout: fixed;
        border-collapse: separate;
        border-spacing: 0px 4px;
        width: 100%;    
    }

    table.participants td {
        height: 16px;
        padding: 0px;
        padding-right: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    table.participants td > img:not(.role) {
        border-radius: 4px;
    }

    td.player  {
        font-family: Roboto Bold;
        color: #c8c8c8;
    }

    img.player {
        border: 2px solid #c8c8c8;
        border-radius: 2px;
    }

</style>

</head>

<body>

<%- include("partials/navigation-bar") %>

<main>


	<div id="general-info"></div>



	<div id="match-history" class="grid-row-container">
		<%- include("partials/rows-overview/match-history", {history}) %>
	</div>



	<div id="champions" class="row-container left-col">
		<h3>Champions</h3>
		<div class="row-container">
			<%- include("partials/rows-overview/champions", {champions}) %>
		</div>
	</div>



	<div id="matchups" class="row-container left-col">
		<h3>Worst Matchups</h3>
		<div class="row-container">
			<%- include("partials/rows-overview/enemies", {matchups}) %>
		</div>
	</div>


</main>

<script>
	$(document).ready(function() {})
</script>

</body>

</html>