<!DOCTYPE html>
<html lang="en">

<head>
<title>Rooks - <%= pageTitle %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Rooks">
<meta name="description" content="Baseline page template">

<link rel="icon" href="assets/icons/rooksIconGG.png">
<link rel="stylesheet" href="styles.css">
<script src="plugins/jquery-3.4.1.min.js"></script>

<style>

	body {
		min-height: calc(100vh - 56px);
	}

	main {
		width: 100%;
		background-color: transparent;
		padding: 0px;
		align-items: center;
		flex: 1;
	}

	header {
		gap: 32px;
	}

	input#search-bar {
		width: 25%;
	}

	#champion-grid {
		display: grid;
		gap: 24px;
  		align-items: center;
  		grid-template-columns: repeat(10, 1fr);
  		width: 50vw;
  		padding: 16px;
    	border-radius: 4px;
	}

	#champion-grid > a {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 8px;
		transition: opacity 0.25s ease-out;
	}

	#champion-grid:hover > a {opacity: .5;}
	#champion-grid > a:hover {opacity: 1;}
	#champion-grid > a:hover img {transform: scale(1.1);}

	div.frame {
		width: 100%;
		aspect-ratio: 1 / 1;
		border-radius: 4px;
		overflow: hidden;
	}

	div.frame > img {
		width: 100%;
		object-fit: cover;
    	transition: transform 0.25s ease-out;
/*    	transform: scale(1.025);*/
	}

	label {
		font-family: Roboto;
		color: #989898;
	}


	#header-links {
		gap: 16px;
	}

	#header-links > a {
		font: small-caps 18px Montserrat Medium;
		color: #787878;
		padding: 8px 16px;
	}

	#header-links > a:hover {
		color: #585858;
	}



	#icon-display {
		width: 100%;
		justify-content: space-evenly;
		flex: 1;
	}

	#icon-display img {
		position: absolute;
	}

	.img-frame {
		display: none;
		position: relative;
		width: 350px;
		height: 350px;
	}

	.img-frame > img:first-child {
		top: 12.5px;
		left: 12.5px;
		width: 325px;
		height: 325px;
		filter: blur(25px);
	}

	.img-frame > img:last-child {
		top: 25px;
		left: 25px;
		border-radius: 16px;
	}

</style>

</head>

<body>

<%- include("partials/navigation-bar") %>


<header class="v-container">

	<h1><%= pageTitle %></h1>

	<% if (typeof links !== 'undefined') { %><div id="header-links" class="h-container">
		<% links.forEach(function(link) { %>
		<a href="<%= path %><%= link.replace(' ', '-') %>"><%= link %></a>
		<% }) %>
	</div><% } %>

	<% if (typeof search !== 'undefined') { %><input type="text" autocomplete="off" id="search-bar" placeholder="Search"><% } %>

</header>


<main>

	<% if (typeof champions !== 'undefined') { %>
	<div id="champion-grid">
		<% champions.forEach(function(champion, index) { %>
		<a href="<%= path %><%= champion %>">
			<div class="frame"><img src="assets/dragontail/champion/square106/<%= champion %>.png"></div>
			<label><%= champion %></label>
		</a>
		<% })%>
	</div>
	<% } %>

	<% if (typeof display !== 'undefined') { %>
	<div id="icon-display" class="h-container">
		<% display.forEach(function(src, index) { %>
		<div class="img-frame">
			<img src="<%= src %>" alt="Profile Icon">
			<img src="<%= src %>" alt="Profile Icon">
		</div>
		<% })%>
	</div>
	<% } %>

</main>


<script>
	$(document).ready(function() {
		$("#icon-display > .img-frame").each(function(index) {
			$(this).fadeIn(300 + (index * 300))
		})
	})
</script>

</body>

</html>