<!DOCTYPE html>
<html lang="en">

<head>
<title>Rooks - <%= pageTitle %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Rooks">
<meta name="description" content="Individual champion statistics">

<link rel="icon" href="assets/icons/rooksIconGG.png">
<link rel="stylesheet" href="styles.css">
<script src="plugins/jquery-3.4.1.min.js"></script>

<style>

/*	#navigation-bar {opacity: 0;}*/

	body {
		gap: 0px;
    	justify-content: space-between;
	}

	#banner {
		width: 100vw;
		height: 100vh;
		background-image: url("assets/dragontail/champion/centered/Anivia_0.jpg");
		background-position: bottom;
    	background-size: 100vw auto;
    	z-index: -10;
    	filter: blur(8px) brightness(50%) grayscale(50%);
	}

	header {
		border: none;
	}

	main {
		width: 100%;
		height: 40vh;
		gap: 16px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		align-items: center;
		background-color: rgba(0, 0, 0, 0.5);
	}

	main img {
		width: 64px;
	}

	.champion-spell {
		width: 64px;
		height: 64px;
		line-height: 64px;
		text-align: center;
		font-family: Montserrat Semi Bold;
		font-size: 32px;
		text-shadow: 0px 0px 8px black;

		background-repeat: no-repeat;
		background-size: cover;
	}


	#spell-stats {
		width: 100%;
		background-color: #181818;
	    padding: 16px;

	    display: flex;
    	flex-direction: column;
/*    	align-items: center;*/
    	gap: 0px;
	}

	#spell-stats > h2 {
		width: 100%;
		text-indent: 16px;
		border-bottom: 1px solid #484848;
		padding-bottom: 8px;
		font: 18px Montserrat Semi Bold;
	}

	#spell-stats > div {
		
		display: flex;
	    align-items: center;
	    justify-content: space-between;
	    gap: 16px;
	    padding: 16px;
	}

	#spell-stats > div > div {
		display: flex;
    	flex-direction: column;
    	align-items: center;
    	gap: 16px;
    	font: 16px Roboto Medium;
	}

	#spell-stats span {
		font-family: Roboto;
		color: #989898;
		font-style: italic;
	}




	#kda-stats {
		width: 100%;
		background-color: #181818;
	    padding: 24px 32px;
/*	    justify-content: space-around;*/
	    gap: 16px;
	}

	#kda-stats ul:nth-child(2) {
		flex: 1;
		text-align: center;
	}

	ul {
		list-style: none;
		padding: 0px;
	}

	li {
		font: 24px Roboto;
		color: #787878;
	}

	li > span {
		font: 24px Roboto Medium;
		color: white;
	}

	li + li {
		margin-top: 16px;
	}


	#played-stats {
		width: 100%;
		background-color: #181818;
		padding: 16px;
	}

	#played-stats > ul {
		text-align: center;
	}

	#played-stats > ul > li:nth-child(2) {
		color: white;
		font-family: Roboto Medium;
	}


	#winrate-stats {
		background-color: #181818;
		padding: 16px;
		width: 100%;
		gap: 32px;
	}

	#winrate-stats * {
		font-size: 24px;
	}

	#winrate-stats > .winrate-bar {
		background-color: #564f70;
	    width: 100%;
	    height: 48px;
	    overflow: hidden;
	}

	#winrate-stats > .winrate-bar > span {
	    padding: 8px;
	    margin-left: auto;
	}

	#winrate-stats > .winrate-bar > div {
		background-color: #2d283e;
	    height: 100%;
		padding: 16px;
	}

</style>

</head>

<body>

<%- include("partials/navigation-bar") %>

<div id="banner" class="dd-center"></div>

<header class="v-container">
	<h1>Anivia</h1>
</header>

<main>

	<div id="winrate-stats" class="h-container">
	    <div class="winrate-bar h-container">
	        <% if (stats.wins !== 0) { %>
	        <div class="h-container" style="width: <%= stats.winrate %>%"><%= stats.wins %>W</div>
	        <% }; if (stats.losses !== 0) { %>
	        <span><%= stats.losses %>L</span>
	        <% } %>
	    </div>
	    <span class="val-accent"><%= stats.winrate %>%</span>
	</div>



	<div id="played-stats" class="h-container">
		<ul>
			<li>Games Played</li>
			<li><%= stats.played %></li>
		</ul>
		<ul>
			<li>Average Length</li>
			<li><%= stats.avgGameLength %></li>
		</ul>
		<ul>
			<li>Total Time Played</li>
			<li><%= stats.timePlayed %></li>
		</ul>
	</div>

	<div id="kda-stats" class="h-container">
		<ul>
			<li>Kills | <span><%= stats.kills %></span></li>
			<li>Deaths | <span><%= stats.deaths %></span></li>
			<li>Assists | <span><%= stats.assists %></span></li>
		</ul>
		<ul>
			<li style="font-size: 40px;"><span style="font-size: 40px;"><%= stats.kda %></span>:<span style="font-size: 40px;">1</span></li>
			<li><span><%= stats.avgKills %></span> / <span><%= stats.avgDeaths %></span> / <span><%= stats.avgAssists %></span></li>
		</ul>
	</div>

	<div id="spell-stats">
		<h2>Spell Casts</h2>

		<div>
			<div>
				<div class="champion-spell" style="background-image: url('assets/dragontail/champion/spells/FlashFrost.png');">Q</div>
				<%= stats.spell1Casts %>
				<span><%= stats.spell1Avg %>/game</span>
			</div>


			<div>
				<div class="champion-spell" style="background-image: url('assets/dragontail/champion/spells/Crystallize.png');">W</div>
				<%= stats.spell2Casts %>
				<span><%= stats.spell2Avg %>/game</span>
			</div>


			<div>
				<div class="champion-spell" style="background-image: url('assets/dragontail/champion/spells/Frostbite.png');">E</div>
				<%= stats.spell3Casts %>
				<span><%= stats.spell3Avg %>/game</span>
			</div>


			<div>
				<div class="champion-spell" style="background-image: url('assets/dragontail/champion/spells/GlacialStorm.png');">R</div>
				<%= stats.spell4Casts %>
				<span><%= stats.spell4Avg %>/game</span>
			</div>
		</div>
	</div>



<!-- 	<img src="assets/dragontail/champion/square/anivia.png" alt="centered">

	<img src="assets/dragontail/champion/square106/anivia.png" alt="centered">

	<img src="assets/dragontail/champion/passives/Anivia_P.png" alt="centered"> -->

</main>

<script>
	$(document).ready(function() {
		// $("header").dblclick(function(event) {
		// 	$(event.target).attr('href')
		// })
	})
</script>

</body>

</html>