<!DOCTYPE html>


<% champions.forEach(function(element, index) { %>
<div class="row-item">

    <img src="assets/dragontail/champion/square106/<%= element.champion %>.png">

    <ul class="center">
        <li class="strong<% if (element.kda >= 6) { %> legendary<% } else if (element.kda >= 4) { %> epic<% } else if (element.kda <= 1) { %> boosted<% } %>"><%= element.kda %>:1</li>
        <li><%= element.kills %> / <%= element.deaths %> / <%= element.assists %></li>
    </ul>

    <div class="winrate-bar">
        <% if (element.wins !== 0) { %>
        <div style="width:<%= element.winrate %>%;"><%= element.wins %>W</div>
        <% }; if (element.losses !== 0) { %>
        <span><%= element.losses %>L</span>
        <% } %>
    </div>

    <ul class="right">
        <li class="strong<% if (element.winrate >= 70) { %> legendary<% } else if (element.winrate >= 60) { %> epic<% } else if (element.winrate <= 40) { %> boosted<% } %>"><%= element.winrate %>%</li>
        <li><%= element.played %> Played</li>
    </ul>

</div>
<% }) %>