<!DOCTYPE html>


<% matchups.forEach(function(element, index) { %>
<div class="row-item">

    <div class="row-rank"><%= index + 1 %></div>

    <img src="assets/dragontail/champion/square106/<%= element.champion %>.png">

    <div class="winrate-bar">
        <% if (element.wins !== 0) { %>
        <div style="width:<%= element.winrate %>%;"><%= element.wins %>W</div>
        <% }; if (element.losses !== 0) { %>
        <span><%= element.losses %>L</span>
        <% } %>
    </div>

    <ul class="right">
        <li class="strong<% if (element.winrate >= 70) { %> legendary<% } else if (element.winrate >= 60) { %> epic<% } else if (element.winrate <= 40) { %> boosted<% } %>"><%= element.winrate %>%</li>
        <li><%= element.played %> Games</li>
    </ul>

</div>
<% }) %>