<!DOCTYPE html>

<% history.forEach(function(element, index) { %>

<div class="grid-row <% if (element.remake === true) { %> remake<% } else if (element.win === true) { %> win<% } else if (element.win === false) { %> loss<% } %>">


    <div class="dd-center" style="background-image: url('assets/dragontail/champion/centered/<%= element.champion %>_0.jpg');">
        <ul>
            <li class="strong"><% if (element.remake === true) { %>Remake<% } else if (element.win === true) { %>Victory<% } else if (element.win === false) { %>Defeat<% } %></li>
            <li class="break"><%= element.length %></li>
            <li style="visibility: hidden;">v <%= element.version %></li>
            <li><%= element.date.slice(0, -3) %><span><%= element.date.slice(-2) %></span></li>
            <li class="account" style="font-family: Roboto Bold;"><%= element.summoner %></li>
        </ul>
        <div class="side-bar"></div>
    </div>

    <div class="runes h-container">

        <img class="keystone" src="assets/dragontail/runes/Styles/<%= element.keystone %>.png">

        <div class="rune-options grid-container">
        <% element.styles.forEach(function(rune, index) { %>
            <img src="assets/dragontail/runes/Styles/<%= rune %>.png" alt="Rune">
        <% }) %>
        </div>

        <div class="rune-stats v-container">
            <img src="assets/dragontail/runes/StatMods/<%= element.stats.offense %>.png" alt="Stat">
            <img src="assets/dragontail/runes/StatMods/<%= element.stats.flex %>.png" alt="Stat">
            <img src="assets/dragontail/runes/StatMods/<%= element.stats.defense %>.png" alt="Stat">
        </div>

    </div>


    <table class="items">
        <tr>
        <% for (let i = 0; i < 6; i++) { if (element.items[i] != undefined) { %>
            <td><img src="https://ddragon.leagueoflegends.com/cdn/<%= element.version %>.1/img/item/<%= element.items[i] %>.png" alt="Item"></td>
        <% } else { %><td></td><% } if (i == 2) { %></tr><tr><% } } %>
        </tr>
    </table>


    <table class="participants">

        <colgroup>
            <col width="32px">
            <col width="24px">
            <col width="auto">
            <col width="24px">
            <col width="auto">
        </colgroup>

        <tbody>

            <% element.participants.forEach(function(participant, index) { %>
            <tr>
                <td><img class="role<% if (element.role == participant.role) { %> player<% } %>" src="assets/dragontail/role/role-<%= participant.role %>.svg"></td>

                <td><img src="assets/dragontail/champion/square106/<%= participant.ally %>.png"></td>

                <td<% if (element.role == participant.role) { %> class="player"<% } %>><%= participant.ally %></td>

                <td><img src="assets/dragontail/champion/square106/<%= participant.enemy %>.png"></td>

                <td><%= participant.enemy %></td>
            </tr>
            <% }) %>

        </tbody>

    </table>



</div>

<% }) %>